body {
  background-color: #FCFCFC;
}

header .page-logo {
  height: 2em;
  margin: 0px 20px;
  vertical-align: middle;
}

/*******************************************************
 * footer
 */

footer img {
  height: 2em;
  vertical-align: middle;
}

/*******************************************************
 * offline servers
 */

#offline-servers.invisible {
   display: none;
 }
