<div class="category grid-whole equalize">
  {%- assign category_id = include.structure.id -%}
  {%- assign category = site.data.categories[category_id] %}
  <div class="heading">
    <h2>
      {%- include translate text=category.name language=include.language -%}
    </h2>
  </div>
  <div class="description">
    {%- include translate text=category.description language=include.language %}
  </div>
  {%- if include.structure.structure %}
    {% include structure.html structure=include.structure.structure language=include.language %}
  {%- endif %}
</div>
