<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">{{ page.title | escape }}</h5>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a href="{{ site.sourcecode.root }}/intro/issues/new" class="grey-text text-lighten-3">Report a problem</a></li>
          <li><a href="LICENSE.txt" class="grey-text text-lighten-3">License information</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <a href="{{ site.sourcecode.root }}/{{ page.path }}"><img src="img/footer/GitHub.svg" /></a>
    </div>
  </div>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
</footer>