<div class="tutorial s-grid-whole m-grid-half l-grid-third padded equalize">
  {%- assign tutorial_id = include.structure -%}
  {%- assign tutorial = site.data.tutorials[tutorial_id] %}
  <div class="heading">
    {%- include lang-link.html text=tutorial.title href=tutorial.url -%}
  </div>
  <div class="description">
    {%- include lang.html text=tutorial.description %}
  </div>
  {%- if tutorial.links -%}
    {%- for link in tutorial.links -%}
      {%- if link.offline -%}
        <span class="offline">
      {%- endif -%}
      {%- include lang-link.html text=link.name href=link.url -%}
      {%- if forloop.last -%}{%- else %} | {% endif -%}
      {%- if link.offline -%}
        </span>
      {%- endif -%}
    {% endfor -%}
  {%- endif -%}
</div>
