<div class="tutorial col s12 m6 l4">
  <div class="card small blue-grey darken-1">
    <div class="card-content white-text">
      {%- assign tutorial_id = include.structure -%}
      {%- assign tutorial = site.data.tutorials[tutorial_id] %}
      <span class="card-title">
        <a href="{% include translate text=tutorial.url language=include.language %}">
          {%- include translate text=tutorial.title language=include.language -%}
        </a>
      </span>
      <p class="description">
        {%- include translate text=tutorial.description language=include.language %}
      </p>
    </div>
    {%- if tutorial.links -%}
      <div class="card-action">
        {%- for link in tutorial.links -%}
          {%- if link.offline -%}
            <span class="offline">
              {% include translate-link text=link.name href=link.url language=include.language %}
            </span>
            <span class="local">
              {% assign local_link = site.local_server | append: "/" -%}
              {%- include translate-link text=link.name href=link.url href_base=local_link language=include.language %}
            </span>
          {%- else -%}
            <span class="online">
              {% include translate-link text=link.name href=link.url language=include.language -%}
            </span>
          {%- endif %}
        {% endfor -%}
      </div>
    {%- endif -%}
  </div>
</div>
