---
---
<html>
  <head>
    <!--<meta http-equiv="refresh" content="5">-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <link href="css/overview.css" rel="stylesheet"/>
    <link href="css/fonts.css" rel="stylesheet"/>
    <link href="css/grid.css" rel="stylesheet"/>
    <link href="css/deactivate-offline.css" rel="stylesheet"/>
    <link href="{{ site.local_server }}/offline/activate_localhost.css" rel="stylesheet"/>
    <link href="offline/activate.css" rel="stylesheet"/>
    <script type="text/javascript" src="js/find_lan_servers.js"></script>
  </head>
  <body>
    <div class="header">
      <img class="page-logo" src="{{ page.image | escape }}"/>
      <span class="page-title">{{ page.title | escape }}</span>
      <select id="offline-servers" class="invisible" onchange="switchOfflineServer(this)"></select>
      {%- for language in site.data.languages %}
        <a class="language-link" href="#section-{{ language.id | escape }}">{{ language.name | escape }}</a>
      {%- endfor %}
      <a class="language-link" href="index.html">Homepage</a>
    </div>
    <div id="main">
      <div id="description">
        {{ page.content }}
      </div>
      <div id="structure">
        {%- for language in site.data.languages -%}
          <div class="show-language show-language-{{ language.id | escape }} grid-whole padded equalize" id="section-{{ language.id | escape }}">
            <div class="show-language-heading">{{ language.name | escape }}</div>
            {% include structure.html structure=page.structure %}
          </div>
        {%- endfor %}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
