---
---
<!doctype html>
<html>
  <head>
    <!--<meta http-equiv="refresh" content="5">-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <link href="css/overview.css" rel="stylesheet"/>
    <link href="css/fonts.css" rel="stylesheet"/>
    <link href="css/grid.css" rel="stylesheet"/>
    <link href="css/deactivate-offline.css" rel="stylesheet"/>
    <link href="{{ site.local_server }}/offline/activate_localhost.css" rel="stylesheet"/>
    <link href="offline/activate.css" rel="stylesheet"/>
    <script type="text/javascript" src="js/find_lan_servers.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="{{ page.homepage }}" class="brand-logo">
            <img class="page-logo" src="{{ page.image | escape }}"/>{{ page.title | escape }}
          </a>
          <select class="invisible" id="offline-servers" onchange="switchOfflineServer(this)"></select>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            {%- for language in site.data.languages %}
              <li><a href="#section-{{ language.id | escape }}">{{ language.name | escape }}</a></li>
            {%- endfor %}
            <li><a href="index.html">Homepage</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div id="main">
      <div id="description">
        {{ page.content }}
      </div>
      <div id="structure">
        {%- for language in site.data.languages -%}
          <div class="show-language show-language-{{ language.id | escape }}" id="section-{{ language.id | escape }}">
            <div class="show-language-heading">{{ language.name | escape }}</div>
            {% include structure.html structure=page.structure language=language %}
          </div>
        {%- endfor %}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
